<h1 mat-dialog-title>{{ dataSource.name }}</h1>
<div mat-dialog-content fxLayout="column">
    <div fxLayout="column wrap" fxLayoutGap="20px">
        <h3>🔨 Tools Used</h3>
        <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" cdkDrag *ngFor="let tool of dataSource.tools">
                {{ tool }}
            </mat-chip>
        </mat-chip-list>
        <h3>🖋️ Languages</h3>
        <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" cdkDrag *ngFor="let language of dataSource.languages">
                {{ language }}
            </mat-chip>
        </mat-chip-list>
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <h3>📅 Duration: </h3>
            <h5 class="p-1">{{ dataSource.duration }}</h5>
        </div>
        <div fxLayout="row">
            <h3>🌲 Version Control Software: </h3>
            <h5 class="p-1">{{ dataSource.version_control }}</h5>
        </div>
        <div>
            <ol>
                <li *ngFor="let duty of dataSource.duties">{{ duty }}</li>
            </ol>
        </div>
    </div>
</div>
<mat-dialog-actions fxLayoutAlign="end end">
    <button mat-flat-button class="okButton" (click)="close()">OK!</button>
</mat-dialog-actions>