<div fxLayoutAlign="center center" fxLayout="column" class="w-100 mb-5">
    <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/thumbnails/collaborate.jpg"
        class="w-50" alt="">
    <div fxLayout="column" fxLayoutAlign="start start" class="w-50 mb-3 intro-section">
        <span>筆者：JakeSiewJK64</span>
        <span>２０２１年８月１５日</span>
    </div>
    <div class="w-50">
        <h2>どうやってプライベートリポジトリとコラボるすですか？</h2>
        <div>
            <span>
                ギットハブは自らのリポジトリプライベートになる設定が他のユーザーに表示されない為持っています。ですから、 URLを使って直接リポジトリサイトに行けば404エーラーが
                発生します。この記事ではどうやって自分のリポジトリをプライベートにすると説明ではありません。まるでどうやってプライベートリポジトリを
                お好みユーザーとコラボします。
            </span>
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第1つ目</h3>
            </div>
            <span>
                プライベートリポジトリの設定ページに行って。リポジトリ上のタブが見つける。この感じ：
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/repo_setitngs.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第2つ目</h3>
            </div>
            <span>
                設定ページで、「Manage Access（アクセスを管理）」を選んで。そして「Invite a collaborator（コラボユーザーをさっそる）」。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/invite_a_collaborator.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第3つ目</h3>
            </div>
            <span>
                新しいウインドウが現れる。コラボの名前を入力して。そのユーザーのプロファイルが出たら選んで。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/enter_collaborator_name.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第4つ目</h3>
            </div>
            <span>
                このままよくできました。成功を確認為青いメッセージが表せます。次はコラボユーザーの誘うE-mailを確認しないと、まだプライベートリポジトリがまだ見えません。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/success_message.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <h2>コラボユーザーの次元：</h2>
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第5つ目</h3>
            </div>
            <span>
                コラボユーザーとして、ギットハブのE-mailに行って、「View Invitation（リクエストを見る）」を選んで。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/email_accept_for_collaboration.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第6つ目</h3>
            </div>
            <span>
                次は、ギットハブで「Accept Invitation（リクエストを受け入ります）」。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/accept_invitation_to_collaborate.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>第7つ目</h3>
            </div>
            <span>
                このままよくできました。できたら成功メッセージが表せます。今はコラボリポジトリが見えるになりました。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/collaborate_private_success.jpg"
                alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>*注意:</h3>
            </div>
            <span>
                リポジトリの主人として、コラボがリストから削除が出します。まずは、リポジトリの「Manage Access」設定に戻って、コラボリストからゴミバクアイコンを押して、
                コラボの削除は完成になりました。
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/github-blog/collaborator_list.jpg"
                alt="">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
            <mat-divider></mat-divider>
            <div class="me-auto">
                <h3>まとめ</h3>
            </div>
            <span>
                リポジトリをプラベートをするとは大事です、もしAPI Keyとか盗作を避難する為とか頼もしい人しか誘っていけません。
                コードをだれにも責任を忘れないように共有してください。
            </span>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
            <mat-divider></mat-divider>
            <h3>他のGithubに関する記事:</h3>
            <ol>
                <li *ngFor="let item of alterLinks">
                    <span class="text-success cursor-pointer" (click)="navigatetToBlog(item)">{{ item.name }}</span>
                </li>
            </ol>
        </div>
    </div>
</div>