<div fxLayout="column" class="w-100" fxLayoutAlign="center center">
    <div class="w-100" fxLayoutAlign="center center" fxLayout="row">
        <mat-card class="mat-elevation-z0 profile-charm">
            <mat-card-content fxLayout="row">
                <img src="https://gamepress.gg/arknights/sites/arknights/files/2020-09/char_350_surtr_1.png" alt="">
            </mat-card-content>
        </mat-card>
        <div fxLayout="column" class="profile-description">
            <h2>{{ username }}</h2>
            <span>
                {{ description }}
            </span>
        </div>
    </div>
</div>