.vl {
    border-left: 3px solid black;
    height: 50px;
    margin: 10px;
}

img {
    width: 4rem;
    height: 4rem;
}

.home-menu {
    cursor: pointer;
}

mat-toolbar {
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}
