<mat-toolbar>
  <div fxLayout="row" class="w-100">
    <div class="cursor-pointer" [routerLink]="['/']" fxLayout="row">
      <img src="https://pbs.twimg.com/profile_images/924095154545336320/2aEQAjR4_400x400.jpg" alt="Penguin Logistics" />
      <span class="v1"></span>
      <span class="pt-3">Rhine Cafe</span>
    </div>
    <span class="example-spacer"></span>
  </div>
  <div fxLayoutAlign="end end">
    <button mat-flat-button>About</button>
    <button mat-flat-button>Experience</button>
    <button mat-flat-button>Projects</button>
    <button mat-flat-button>Education</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>