<mat-toolbar>
  <div fxLayout="row" class="w-100">
    <div class="cursor-pointer" [routerLink]="['/']" fxLayout="row">
      <img src="https://pbs.twimg.com/profile_images/924095154545336320/2aEQAjR4_400x400.jpg" alt="Penguin Logistics" />
      <span class="v1"></span>
      <span class="pt-3">{{ title }}</span>
    </div>
    <span class="example-spacer"></span>
  </div>
  <button mat-stroked-button (click)="switchLanguage()">{{ isEN ? 'JP' : 'EN'  }}</button>
  <div fxLayoutAlign="end end" fxHide.xs fxShow.md>
    <button mat-flat-button *ngFor="let item of alter_links">{{ item }}</button>
  </div>
  <div fxShow.xs fxHide.md fxHide [matMenuTriggerFor]="alter_link" mat-button class="cursor-pointer">
    <mat-icon>more_vert</mat-icon>
  </div>
  <mat-menu #alter_link="matMenu">
    <button mat-menu-item *ngFor="let item of alter_links">{{ item }}</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-footer fxLayoutAlign="center center" class="w-100">
  <div fxLayoutALign="center center" class="text-center" fxLayout="row">
    Designed and Created by JakeSiewJK64 | {{ date | date: 'yyyy' }}
  </div>
</mat-footer>
<app-scroll-to-top></app-scroll-to-top>