<mat-toolbar>
  <div fxLayout="row" class="w-100">
      <img src="https://static.thenounproject.com/png/1357376-200.png"
        alt="Penguin Logistics" />
        <span class="v1"></span>
      <span class="pt-3">Rhodes Cafe</span>
      <span class="example-spacer"></span>
  </div>
  <div fxLayoutAlign="end end">
    <button mat-flat-button>About</button>
    <button mat-flat-button>Experience</button>
    <button mat-flat-button>Projects</button>
    <button mat-flat-button>Education</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>