<div fxLayout="column" class="w-100">
  <div fxLayout="column" class="m-4">
    <div class="w-100 ms-auto me-auto" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px">
      <img draggable="false" class="container-1-anim" src="https://avatars.githubusercontent.com/u/47139291?v=4"
        alt="avatar">
      <h3 class="name-container-anim">Jake Siew Joe Kane</h3>
      <span class="text-center w-50 subtitle-container-anim">{{ description }}</span>
      <div class="wrapper">
        <div class="typing-demo">
          <span class="typewriter">💪 Berkhidmat Untuk Negara 💪</span>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxLayout="column">
      <div fxLayout="row">
        <div *ngFor="let item of social_buttons" class="social-tab social-container-anim">
          <a [href]="item.link">
            <img draggable="false" [src]="item.imgUrl" alt="">
          </a>
        </div>
      </div>
      <div fxLayout='row' fxLayoutGap="10px">
        <div fxLayout="row">
          <mat-icon>send</mat-icon>
          <a href="mailto:joekanesiew@outlook.com">
            <span>joekanesiew@outlook.com</span>
          </a>
        </div>
        <div class="vertical-line"></div>
        <div fxLayout="row">
          <i class="bi bi-github h4 me-1"></i>
          <a href="https://github.com/JakeSiewJK64">
            <span>JakeSiewJK64</span>
          </a>
        </div>
      </div>
      <div fxLayout="row" class="download-resume cursor-pointer" matRipple (click)="download()">
        <span>Download Resume</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px" class="m-4 tools-n-frameworks" fxHide.sm
    fxHide.xs>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Frameworks</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div *ngFor="let framework of frameworks" class="social-tab">
              <img draggable="false" [src]="framework.imgUrl" alt="">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Tools</mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <div *ngFor="let tool of tools" class="social-tab">
              <img draggable="false" [src]="tool.imgUrl" alt="">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px" class="m-4 tools-n-frameworks" fxHide.md
    fxHide.lg fxHide.xl fxHide.gt-sm>
    <mat-card class="mat-elevation-z5 mt-3">
      <mat-card-title>Frameworks</mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div *ngFor="let framework of frameworks" class="social-tab">
            <img draggable="false" [src]="framework.imgUrl" alt="">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z5 mt-3">
      <mat-card-title>Tools</mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div *ngFor="let tool of tools" class="social-tab">
            <img draggable="false" [src]="tool.imgUrl" alt="">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px" class="m-4 education-section">
    <h3>Education</h3>
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center" fxHide.xs fxHide.sm>
      <mat-card class="mat-elevation-z5" *ngFor="let education of educations">
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <img draggable="false" [src]="education.imgUrl" alt="INTI" width="50px">
            <h4>{{ education.name }}</h4>
            <span>{{ education.programme }}</span>
            <span>Duration: {{ education.duration }} Years</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="center center" fxHide.md fxHide.lg fxHide.xl
      fxHide.gt-sm>
      <mat-card class="mat-elevation-z5" *ngFor="let education of educations">
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <img draggable="false" [src]="education.imgUrl" alt="INTI" width="50px">
            <h4>{{ education.name }}</h4>
            <span>{{ education.programme }}</span>
            <span>Duration: {{ education.duration }} Years</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" class="w-75 languages-section">
      <div class="programming-languages-section mat-elevation-z0 w-100 mt-3">
        <h4>Computer Languages</h4>
        <div fxLayoutGap="5px">
          <div fxLayout="column" *ngFor="let knowledge of programming_knowledge">
            <span>{{ knowledge.name }}</span>
            <div fxLayout="row">
              <img draggable="false" [src]="knowledge.imgUrl" alt="">
              <mat-progress-bar mode="determinate" [value]="knowledge.level" class="mt-4"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="programming-languages-section mat-elevation-z0 w-100 mt-3">
        <h4>Spoken Languages</h4>
        <div fxLayoutGap="5px">
          <div fxLayout="column" *ngFor="let language of spoken_languages">
            <span>{{ language.name }}</span>
            <div fxLayout="row">
              <img draggable="false" [src]="language.imgUrl" alt="">
              <mat-progress-bar color="warn" mode="determinate" [value]="language.level" class="mt-4">
              </mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="20px" class="m-4 experience-division">
    <h3>Experience</h3>
    <mat-card *ngFor="let experience of work_experience" class="w-75 mat-elevation-z5" fxLayout="column">
      <mat-card-content fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" fxHide.xs fxHide.sm>
        <img draggable="false" class="me-3" [src]="experience.imgUrl">
        <div fxLayout="column">
          <div fxLayout="row">
            <mat-icon>business</mat-icon>
            <span>{{ experience.name }}</span>
          </div>
          <div fxLayout="row">
            <mat-icon>event</mat-icon>
            <span>Duration: {{ experience.duration }}</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" fxHide.md fxHide.lg fxHide.xl
        fxHide.hide-sm fxHide.gt-sm fxShow.sm>
        <img draggable="false" class="me-3" [src]="experience.imgUrl">
        <div fxLayout="column">
          <div fxLayout="row">
            <mat-icon>business</mat-icon>
            <span>{{ experience.name }}</span>
          </div>
          <div fxLayout="row">
            <mat-icon>event</mat-icon>
            <span>Duration: {{ experience.duration }}</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end end">
        <button mat-flat-button (click)="showDialog(experience.name)">Learn More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>