<div fxLayoutAlign="center center" fxLayout="column" class="w-100 mb-5">
    <img src="https://miro.medium.com/max/1334/0*TZOvqmRL5cUl69TC.png" class="w-50" alt="">
    <div fxLayout="column" fxLayoutAlign="start start" class="w-50 mb-3 intro-section">
        <span>Written By: JakeSiewJK64</span>
        <span>Date: 13 August 2021</span>
    </div>
    <h2>Github Pull Requests</h2>
    <div class="w-50">
        <div>
            <span>
                Github PR (Pull Request) is a way for project members to "<i>Request</i>" to have their changes merged
                with the main branch. A way to submit your "homework" or "task". Please note that contributions only
                count if you
                have:
                <ul>
                    <li>Made a PR (Pull Request)</li>
                    <li>Starred a Repository</li>
                    <li>Forked a Repository</li>
                </ul>
                More on that <a
                    href="https://docs.github.com/en/github/setting-up-and-managing-your-github-profile/managing-contribution-graphs-on-your-profile/why-are-my-contributions-not-showing-up-on-my-profile">here</a>
                .
            </span>
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>Step 1</h3>
            </div>
            <span>
                After you have committed your changes to a branch, you will need to <i>"push"</i> your changes.
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/push_origin.jpg"
                class="w-100" alt="">
            <span>
                <i>*Take Note:</i>
                <span>
                    If you have made a mistake in your commit <strong>before you pushed your changes</strong>, you can
                    undo your commit and this will cancel the commit from being pushed to your branch.
                </span>
                <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/undo_commit.jpg"
                    class="w-100" alt="">
            </span>
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>Step 2</h3>
            </div>
            <span>
                After pushing your changes, you will be asked to <i>Create a Pull Request</i> from Github Desktop
                <strong>or</strong> you can
                <i>Compare and Pull Request</i> from the Repository Site.
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/compare_and_pr.jpg"
                class="w-100" alt="">
        </div>
        <div fxLayout="column" class="w-100">
            <mat-divider></mat-divider>
            <div class="mr-auto">
                <h3>Step 3</h3>
            </div>
            <span>
                Here, you can finalise your Pull Request title (mandatory) and message (if needed). Afterwards, click
                <strong>Create Pull Request</strong> to submit a pull request. Ask your supervisor or group leader for
                further instructions after that.
            </span>
            <img src="https://raw.githubusercontent.com/JakeSiewJK64/ImageWarehouse/main/Rhine%20Cafe%20Blog/create_pr.jpg"
                class="w-100" alt="">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
            <mat-divider></mat-divider>
            <div class="me-auto">
                <h3>Conclusion</h3>
            </div>
            <span>
                I hope the tutorial was helpful. It was intended for those who have not used Github as a Version Control
                method in their software developing journey. And, to save time explaining the basic concept on how to
                use it effectively. Happy Hacking!
            </span>
        </div>
    </div>
</div>