mat-divider {
    margin: 10px;
}

span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-section span {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
